body{
    background-color: white !important;
}

h2{
    font-size: 40px;
}

h3{
    font-size: 25px;
}

/* h1{
    font-family: bebas;
} */

/* h2{
    font-weight: lighter;
    font-style: italic;
} */

header article
{
    background-color: #1A3047;
    color: white;
    height: 25px;
}

header
{
    border-bottom: solid 1px #AFAFAF;
}

header>section:first-of-type{
    height: 122px;
}

.dropdown>a{
    background-color: #0073be;
    background-image: url("images/picto_GRANDE_FLECHE_DROITE_noir 1.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20px;
    background-position-y: 16px;
    background-position-x: 125px;
    padding: 10px 40px 10px 20px;
    border-radius: 20px;
    color: white !important;
    
}

header nav ul li{
    text-align: center;
}


nav ul
{
    list-style-type: none;
}

header>:last-child{
    width: 80%;
    height: 100%;
    background-color: rgb(252, 252, 252);
    position: fixed;
    top: 0;
    left: -100%;
    z-index: 999;
    overflow-y: scroll;
    display: block;

}
.affiche_menu_mobile{
    left: 20% !important;

}

img[alt="Logosurf"]{
    width: 300px !important;
}

header>:last-child>div:first-of-type{
    background-color: rgb(216, 216, 216);
    display: flex;
    justify-content: space-evenly;
    padding: 30px 10%;
}

header>:last-child>div:first-of-type img{
    width: 40px;
    height: 40px;
}

header>:last-child>div:nth-of-type(2){
    width: 80%;
    margin: 40px auto 0;
    text-align: center;

}

header>:last-child>div:nth-of-type(2) h3{
    height: 50px;
}

header>:last-child>div:nth-of-type(2) a{
    color: black;
    text-decoration: none;
    font-size: calc(1em + 1vw);
}

header>section>div{
    width: 100px;
}

footer{
    background-color: #1A3047;
}

footer aside{
    color: white;
    text-align: center;
    border-bottom: 2px white solid;
}

footer>section{
    padding-top: 20px;
    color: white;
    width: 70% !important;
    margin-left: 20% !important;
}

footer ul li{
    list-style: none;
}

footer>:nth-child(3){
    color : white;
    display: flex ;
    justify-content: center;
}

footer>article>div>div{
    display: inline-flex;
}

footer>article:nth-of-type(1){
    margin-top: 30px;
}

footer>article>div>div input::placeholder{
    text-align: center; 
    color : black;

}

footer .offre p{
    margin-bottom: 0px;

}

.offre{
    margin: 35px 0 0 15px;
}

footer input{
    width: 280px;
    border-radius: 6px;
}

footer button {
    background-color : white !important;
    color: black !important;
}

footer section:nth-of-type(2) img{
    width: 50px;
    height: 55px;
}

footer section:nth-of-type(2){
    margin-top: 30px;
    text-align: center;
    margin-left: 15% !important;
}

.colis{
    padding-right: -20px !important;
}

main, header, footer
{
    overflow-x: hidden;
}

#selection h1
{
    font-size:60px;
}

#selection{
    padding-top: 13px;
}

img[alt="selection"]{
    object-fit: cover;
    object-position: top;
}

header>div:first-of-type img{
    margin: 0 20px;
}

nav{
    font-weight: 600;
    font-size: 1.3em;
}

.cat
{
    height:30%;
    color: white;
}
#catHomme
{
    background: linear-gradient(to bottom, transparent, 80%, rgba(33, 37, 41, 0.90)), url("images/categorie_hommes.jpg");
    background-size: cover;
    background-position: top;
    transition: 1s;
}
#catFemme
{
    background-image: linear-gradient(to bottom, transparent, 80%, rgb(33, 37, 41, 0.9)), url("images/categorie_femmes.jpg");
    background-size: cover;
    background-position: top;
    transition: 1s;
}
#catEnfant
{
    background-image: linear-gradient(to bottom, transparent, 80%, rgb(33, 37, 41, 0.9)), url("images/categorie_enfant.jpg");
    background-size: cover;
    background-position: top;
    transition: 1s; 

}
#catAcces
{
    background-image: linear-gradient(to bottom, transparent, 80%, rgb(33, 37, 41, 0.9)), url("images/menu_accessoires.jpg");
    background-size: cover;
    background-position: top;
    transition: 1s; 
}

main a{
    text-decoration: none !important;
    color: white;
}

main>:first-child{
    flex-direction: row-reverse;
}

.cat:hover
{
    letter-spacing: 5px;
    transition: 1s;
}

@media (min-width: 992px){
    main #catAcces{
        display:none !important;
    }
    header>section>nav>ul{
        display: block;
    }
    
    img[alt="burger"]{
        display: none;
    }

}

@media (max-width: 992px){

    main>:first-child>div>div{
        width: 45%;
        height: 215px;
        
    }

    main>:first-child>div{
        flex-wrap: wrap;
        flex-direction: row !important;
        justify-content: space-evenly !important;
        align-items: flex-end;
    }

    main>:first-child>:last-child>div{
        margin: 10px;
    }

    footer section:nth-of-type(2){
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        
    }

    footer section:nth-of-type(2) article{
        justify-content: center !important;

    }

    footer>section:first-of-type{
        width: 90% !important;
        margin-left: 5% !important;
    }
    .news{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    header>section>nav{
        display: none !important;
    }

    img[alt="burger"]{
        display: flex;
        justify-content: end !important;
    }

    body>header>section{
        display: flex;
        justify-content: space-between;
    }
}

.pack{
    background-color: #1A3047;
    color: white;
    background-image: url("images/reduction.png");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 0;

    border-radius: 25px;
    margin: 0 20px;
}

.x1{
    font-size: larger;
    font-weight: bold;
    color: black;
    background-color: white;
    border-radius: 50px;
    height: 1.6em;
    padding: 0 5px 10px 5px;
}

@media (max-width : 630px){

    .pack{
        background-image: none;
        /* background-position-y: -5vw;
        /* background-position-x: 68vw; */
        margin: 0 20px;
    }
}

main>article button{
    width: 20px;
}


img[alt="photo_tom_frager"]{
    margin: 0 0 5% 5%;
    object-fit: cover;
    border-radius: 25px;
}

.produitcard
{
    background-color: white;
    border: solid 2px #1A3047;
    width:500px!important;
    transform: scale(1);

    transition: all .2s ease-in-out;
}
.produitbandeau
{
    position: absolute;
    left:0;
    top:0;
    background-color: #1A3047;
    color: white;
    padding: 12px 30px;

}
.produitcard:hover
{
    transform: scale(1.04);
}

.titreProduit
{
    font-weight: bold;
}

.sidescroll
{
    display: flex;
    flex-direction: row;
    overflow-x: scroll!important;
}

#dons
{
    padding: 1em;
    margin-bottom: 750px;

    color:white;
    background-image: url('images/tortue.jpg');
    background-size: cover;
    background-position: top;

}
#dons div
{
    text-align:center;
    padding: 20px;
    margin-bottom: 10px;

    background-color: rgb(26, 48, 71, 80%)
}

@media (min-width: 960px)
{
    #dons
    {
        padding: 200px;
        margin-bottom: 750px;

        color:white;
        background-image: url('images/tortue.jpg');
    }
}

.carrers
{
    background: linear-gradient(to bottom, transparent, 70%, black), url('images/logo_summer_tee_unisex3.jpg');
    background-position: center top;
    width: 300px;
    height: 300px;
}

.carrers:hover
{
    background: linear-gradient(to bottom, transparent, 1%, black), url('images/logo_summer_tee_unisex3.jpg');
}

.carrers:hover p
{
    transform: translateY(-110px) scale(2);
    padding: 10px;
    border: solid 1px white;
    border-radius: 5px;
    transition: all .5s ease-in-out;
}

.dropdown{
    box-sizing: border-box;
    float: left;
}

.dropdown a:hover{
    background-color: black;

}


#megamenu>section>ul>li{
    list-style: none;   
    padding-right: 12%;
}

#megamenu{
    display: none;
    text-align: center;

    width: 100%;
    height: 350px;  
    padding-top: 20px;
    justify-content: space-evenly;
    width: 100%;
}

#megamenu>section{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.menu{
    display: flex !important;
    justify-content: space-evenly;
    position: absolute;
    top: 148px;
    background-color: white;
    z-index: 999;
}

#megamenu img{
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 150px;
}

#megamenu a{
    text-decoration: none;
    color: black;
}

.pack{
   margin-top: 50px !important; 
}

img[alt="insta"]{
    width: 70px;
}

img[alt="selection"]{
    width: 100%;
    height: 550px;
}

img[alt="icone feu"]{
    width: 30px;
    height: 30px;
}

.logo{
    width: 100px;
}

.prix p:first-child{
    font-size: xx-large;
    display: flex;
    align-items: flex-start;
}

.prix p:nth-of-type(2){
    display: flex;
    align-items: flex-end;
}

