body{
    background-color: white !important;
}


header article
{
    background-color: #1A3047;
    color: white;
    height: 25px;
}

header
{
    border-bottom: solid 1px #AFAFAF;
}

header>section:first-of-type{
    height: 122px;
}

.dropdown>a{
    background-color: #0073be;
    background-image: url("images/picto_GRANDE_FLECHE_DROITE_noir 1.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 20px;
    background-position-y: 16px;
    background-position-x: 125px;
    padding: 10px 40px 10px 20px;
    border-radius: 20px;
    color: white !important;
    
}

header nav ul li{
    text-align: center;
}


nav ul
{
    list-style-type: none;
}

footer{
    background-color: #1A3047;
    z-index: 1;
}

footer aside{
    color: white;
    text-align: center;
    border-bottom: 2px white solid;
}

footer>section{
    padding-top: 20px;
    color: white;
    width: 70% !important;
    margin-left: 20% !important;
}

footer ul li{
    list-style: none;
}

footer>:nth-child(3){
    color : white;
    display: flex ;
    justify-content: center;
}

footer>article>div>div{
    display: inline-flex;
}

footer>article:nth-of-type(1){
    margin-top: 30px;
}

footer>article>div>div input::placeholder{
    text-align: center; 
    color : black;

}

footer .offre p{
    margin-bottom: 0px;

}

.offre{
    margin: 35px 0 0 15px;
}

footer input{
    width: 280px;
    border-radius: 6px;
}

footer button {
    background-color : white !important;
    color: black !important;
}

footer section:nth-of-type(2) img{
    width: 50px;
    height: 55px;
}

footer section:nth-of-type(2){
    margin-top: 30px;
    text-align: center;
    margin-left: 15% !important;
}

.colis{
    padding-right: -20px !important;
}


main, header, footer
{
    overflow-x: hidden;
}

header div:first-of-type img{
    margin: 0 20px;
}

nav{
    font-weight: 600;
    font-size: 1.3em;
}

.dropdown{
    box-sizing: border-box;
    float: left;
}

.dropdown a:hover{
    background-color: black;

}

header>div{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
#megamenu>section>ul>li{
    list-style: none;   
    padding-right: 12%;
}

#megamenu{
    display: none;
    text-align: center;

    width: 100%;
    height: 350px;  
    padding-top: 20px;
}

#megamenu>section{
    display: flex;
    flex-direction: column;
    width: 20%;
}

.menu{
    display: flex !important;
    justify-content: space-evenly;
    position: absolute;
    top: 148px;
    background-color: white;
    z-index: 999;
}

#megamenu img{
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 150px;
}

#megamenu a{
    text-decoration: none;
    color: black;
}

main>section:first-child>div{
    display: flex;
    margin-top: 20px !important;

}

main section:first-child div div:first-of-type:hover{
    cursor: pointer;
}

main>section:first-child>div>div:first-of-type img{
    width: 88px;
    height: 117px;
}

main>section:first-child>div>div:nth-of-type(2) img{
    width: 500px;
    margin-left: 20px;
}

main section:first-child p{
    text-align: center;
}

@media  (max-width: 992px){
    main{
        flex-direction: column;
    }
    main aside{
        position: static !important;
    }
    
    footer section:nth-of-type(2){
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        
    }

    footer section:nth-of-type(2) article{
        justify-content: center !important;

    }

    footer>section:first-of-type{
        width: 90% !important;
        margin-left: 5% !important;
    }
    .news{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 576px){
    #a, #b, #c, #d, #e {
        width: 19%;
        height: 70%;
        margin-top: 15px;

        object-fit: cover;
        object-position: top;
    }

    .debut{
        display: flex;
        flex-direction: column-reverse !important;
        margin-bottom: 40px;
    }
    .debut>div{
        width: 100%;
        padding: 0 auto !important;
    }

    .carte{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse !important;
        justify-content: space-evenly !important;
        align-items: flex-end;
    }

    .marion{
        display: none;
    }

    body main{
        margin-left: 0 !important;
    }

    main>section:first-child>div>div:nth-of-type(2) img{
        width: 80%;

    }

    .chat{
        display: none !important;
    }

}

@media (max-width: 770px){
    main article>div:first-of-type{
        display: flex !important;
        flex-direction: column-reverse !important;
    }

    main article>div:first-of-type img, main article>div:nth-of-type(2) img, main article>div:nth-of-type(3) img{
        width: auto !important;
        height: auto !important;
    }

    main article>div:first-of-type p , main article>div:nth-of-type(3)>div{
        width: auto !important;
        height: auto !important;
        display: flex;
        text-align: center;
        margin-top: 20px;
    }

    main article>div:nth-of-type(2)>ul{
        margin-top: 20px;
        width: auto !important;
        height: auto !important;
    }

}

main article div input[type='radio'] {
    display: none;
  }

/* input[value='orange']:after {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    top: -5px;
    left: -5px;
    position: relative;
    background-color: #f85030;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

input[value='orange']:checked:after {
    width: 40px;
    height: 40px;
    border-radius: 50px;
    top: -5px;
    left: -5px;
    position: relative;
    background-color: #f85030;
    content: '';
    display: inline-block;
    visibility: visible;
    padding: 5px;
    border: 2px solid black;
} */

.list-colors div input, .liste-size  div input{
    clip: rect(1px,1px,1px,1px);
    height: 1px;
    overflow: hidden;
    position: absolute!important;
    width: 1px;
}

.list-colors>div:first-of-type>label{
    background-color: #f85030;
}

.list-colors>div:nth-of-type(2)>label{
    background-color: #242e42;
}

.round-color{
    width:40px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    margin: 0;
    padding-left: 20px;
}

.list-colors>div:nth-of-type(3)>label{
    background-color: #d7b4b7;
}

.list-colors>div:nth-of-type(4)>label{
    background-color: #9fa17a;
}

.list-colors div label:hover{
    cursor: pointer;
    opacity: 0.7;
}

.list-colors div input:focus + label{
    outline: 2px dashed black;
}
  
/* .list-colors>div:first-of-type>input:checked + label{
    cursor: pointer;
    background-color: yellow;
    color: black;
} */

.list-colors div input:checked + label{
    cursor: pointer;
    outline: 2px dashed black;
}

/* .list-colors>div:nth-of-type(3)>input:checked + label{
    cursor: pointer;
    background-color: #d7b4b7;
    color: white;
}

.list-colors>div:nth-of-type(4)>input:checked + label{
    cursor: pointer;
    background-color: #9fa17a;
    color: white;
} */


.liste-size>div>label{
    width:40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    margin: 0;
    padding-left: 13px;
    background-color: white;
}

.liste-size div input:focus + label{
    outline: 2px dashed black;
}
  
.liste-size>div>input:checked + label{
    cursor: pointer;
    color: black;
    outline: 2px dashed black;
}

.liste-size div label:hover{
    cursor: pointer;
    opacity: 0.7;
}


.liste-size{
    margin-top: 20px;
}

main aside{
    margin-top: 20px !important;
    position: absolute;
    top: 148px;
    right: 170px;
}

@media (min-width: 992px) and (max-width: 1220px){
    main aside{
        right :0;
    }
    main{
        margin-left: 40px !important;
    }

    img[alt="photo homme et femme"]{
        width: 250px !important;
        height: 250px !important;
    }

    img[alt="photo homme produit"]{
        width: 250px !important;
        height: 250px !important;
    }

    img[alt="photo ramasse dechet"]{
        width: 260px !important;
        height: 173px !important;
    }
}

main aside h2{
    font-weight: bold;
}

main aside div div a{
    margin-top: 40px;
}

main aside div div a:nth-of-type(2){
    border: 2px solid black;
    border-radius: 200px;
    padding: 5px 10px;
}

main aside div div a:nth-of-type(3){
    color: rgb(211, 211, 211) !important;
}
main aside div a{
    text-align: center;
    color: #1A3047 ;
}

main>aside>div>p:nth-of-type(2){
    font-weight: bold;
    margin-top: 40px;
    font-size: 1.5em;
}

main aside>div>button:first-of-type{
    background-color: #1A3047;
    color : white;
    width: 235px;
    margin: 0 auto;
    justify-content: center;
    height: 50px;
    font-size: 1.2em;
}

main aside>div>button:first-of-type:hover {
    background-color: white;
    color: black;
    outline: black 2px solid;
}

main>aside .choix{
    background-color: none;
    color : black;
    border: black 2px solid;
    width: 140px;
    margin: 0 auto;
    justify-content: center;
    height: 50px;
    margin-top: 60px;
}

main>aside .choix:hover {
    background-color: #cfcfcfb6;
    color: black;
    border: none;
}

main aside p:nth-of-type(3){
    text-align: center;
    margin-top: 20px;
}

main aside div div .chat{
    width: 220px;
    text-align: center;
}

.produitcard
{
    background-color: white;
    border: solid 2px #1A3047;
    width:400px!important;
    transform: scale(1);

    transition: all .2s ease-in-out;
}
.produitbandeau
{
    position: absolute;
    left:0;
    top:0;
    background-color: #1A3047;
    color: white;
    padding: 12px 30px;

}
.produitcard:hover
{
    transform: scale(1.04);
}


.titreProduit
{
    font-weight: bold;
}

.sidescroll
{
    display: flex;
    flex-direction: row;
    overflow-x: scroll!important;
}

.decouverte{
    align-self: center;
}

img[alt="photo homme et femme"]{
    width: 300px;
    height: 280px;
}

main article ul{
    align-self: center;
    margin: 0 20px;
}

img[alt="photo homme produit"]{
    width: 300px;
    height: 280px;
}

main article div:nth-of-type(3) div h3{
    padding-bottom: 50px;
}

.caracteristique img{
    width: 100px;
    height: 80px;
}

.barre{
    height: 40px;
    width: 500px;
}
.rating{
    background-color: rgb(245, 245, 245);
    padding: 1px 0px !important;
}

.yscroll
{
    display: flex;
    flex-direction: column;
    height: 350px;
    max-width: 90% !important;
    overflow-y: scroll!important;
}

.produitrating
{
    background-color: white;
    border: solid 2px #1A3047;
    width:340px!important;
    transform: scale(1);

    transition: all .2s ease-in-out;
}